@import "https://fonts.googleapis.com/css?family=Lato:400,800";
#pvPurple {
    color: rgb(80, 45, 127)
}

#pvGold {
    color: rgb(255, 200, 46)
}

#booking h3 {
    color: rgb(80, 45, 127);
    margin-bottom: 0;
}

#booking p {
    margin-top: 0;
}

body {
    font-weight: 400;
    color: #222;
    font-family: Lato, sans-serif
}

header {
    text-align: center
}

hr {
    margin-top: 10px;
    border-width: 0;
    border-top: 2px solid #222;
    width: 80px
}

section {
    margin: 30px;
}

section h2 {
    color: rgb(227, 24, 55)
}

.container {
    max-width: 800px;
    margin: 60px auto !important;
}

.social-links a {
    font-size: 25px;
    padding: 0 8px;
    text-decoration: none;
    color: #444
}

.letters {
    margin-bottom: -10px;
    margin-top: -40px;
    font-size: 70px;
    font-weight: 800;
    mix-blend-mode: darken;
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: -4px
}

.package {
    margin-bottom: 2% !important
}

.package * {
    margin-bottom: 0;
    margin-top: 0;
}

.packages-title {
    margin-bottom: 0;
    color: rgb(255, 200, 46)
}

.package-notes {
    margin-top: 0;
    color: red;
}

.price {
    color: green;
}

.img {
    margin-bottom: 0;
}

.img-description {
    margin-top: 0;
    font-size: 14px;
}

@media only screen and (max-width:450px) {
    .letters {
        font-size: 30px !important;
    }
    .labels {
        padding: 4px;
        font-size: 20px;
    }
    .img {
        width: 75%;
        height: 75%
    }
}

@media only screen and (max-width:600px) {
    .letters {
        font-size: 60px !important;
    }
    .labels {
        padding: 4px;
        font-size: 18px;
    }
}